.project-card {
	border-radius: 0px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	padding: 16px;
	margin: 1px;
	height: 40vh;
	width: 100vh;
	display: flex;
	align-items: center;
}

.project-content {
	display: flex;
	align-items: center;
	width: 100%;
}

.project-image {
	width: 315px;
	height: 250px;
	object-fit: contain;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgb(0, 0, 0);

	margin-right: 48px;
	margin-bottom: 0;
}

.project-link{
    padding: 10px;
    text-align: center;
    background-color:cadetblue;
    border-radius: 8px;
    margin-top: 20px;
    padding-top: 10px;
    text-decoration: none;
    color:#1E181A;

}

.project-info {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	color: rgba(207, 233, 255, 0.796);
}

.project-name {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 12px;
}

.project-description {
	font-size: 1.1rem;
}
